52n-ogc-schema/src/main/resources/META-INF/xml/gml/3.1.1/profiles/geoshape/0.0.9/gmlBase.xsd

<?xml version="1.0"?>
<!--

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml"
        targetNamespace="http://www.opengis.net/gml"
        version="3.1.1" elementFormDefault="qualified">

  <include schemaLocation="basicTypes.xsd"/>

  <element name="_Object" abstract="true"/>

  <element name="_GML" type="gml:AbstractGMLType" abstract="true"
           substitutionGroup="gml:_Object"/>
  <complexType name="AbstractGMLType" abstract="true">
    <attribute ref="gml:id" use="optional"/>
  </complexType>

  <attribute name="id" type="ID"/>
</schema>
