52n-ogc-schema/src/main/resources/META-INF/xml/wps/t/supportedDeploymentProfiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.opengis.net/wps/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opengis.net/wps/2.0" elementFormDefault="qualified" version="2.0.0" xml:lang="en">
	<!-- =============================================================
		includes and imports
	============================================================== -->
	<!-- =============================================================
		elements and types
	============================================================== -->
	<!-- =========================================================== -->
	<element name="SupportedDeploymentProfiles">
		<annotation>
			<documentation>List of default and other schemas profiles supported for deployement and execution, i.e. ApacheOdeBPEL, GridProfile, ...</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Default">
					<annotation>
						<documentation>Identifies the default profile that will be used unless the operation request specifies another supported profile.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element ref="wps:DeploymentSchema">
								<annotation>
									<documentation>Default deployment schema</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Supported">
					<annotation>
						<documentation>Unordered list of references to all of the profile schemas supported by this service. The default profile shall be included in this list.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element ref="wps:DeploymentSchema" maxOccurs="unbounded"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<element name="DeploymentSchema">
		<complexType>
			<attribute name="name" type="xs:normalizedString"/>
			<attribute name="href" type="anyURI"/>
		</complexType>
	</element>
</schema>
