52n-ogc-schema/src/main/resources/META-INF/xml/wps/t/wpsUndeployProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Joel Lim (spacebel SA) -->
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:wps="http://www.opengis.net/wps/2.0" targetNamespace="http://www.opengis.net/wps/2.0" elementFormDefault="qualified" version="2.0.0" xml:lang="en">
	<annotation>
		<documentation>
			WPS is an OGC Standard.
			Copyright (c) 2015 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>
	<!-- all-components document include (OGC 06-135r11 s#14) -->
	<include schemaLocation="wps.xsd"/>
	<!-- === IMPORTS === -->
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- === INCLUDES === -->
	<!-- =========================================================== -->
	<!-- UndeployProcess request elements and types -->
	<!-- =========================================================== -->
	<element name="UndeployProcess">
		<annotation>
			<documentation>WPS UndeployProcess operation request.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Identifier of the process to be undeployed.</documentation>
							</annotation>
						</element>
					</sequence>
					<attribute name="keepExecutionUnit" type="boolean" default="false"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<!-- UndeployProcess response elements and types -->
	<!-- =========================================================== -->
	<element name="UndeploymentResult" type="wps:UndeploymentResultType">
		<annotation>
			<documentation>UndeployProcess result.</documentation>
		</annotation>
	</element>
	<complexType name="UndeploymentResultType">
		<sequence>
			<element ref="ows:Identifier">
				<annotation>
					<documentation>Identifier of the undeployed process.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
