52n-ogc-schema/src/main/resources/META-INF/xml/wfs/2.0/examples/Common/RoadSchema.xsd

<?xml version="1.0" ?>
<!--

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq

-->
<xsd:schema 
   targetNamespace="http://www.someserver.com/abc"
   xmlns:abc="http://www.someserver.com/abc"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml/3.2"
   elementFormDefault="qualified"
   version="2.0.1">

   <xsd:import namespace="http://www.opengis.net/gml/3.2"
               schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

   <!-- =============================================
        Road 
        ============================================= -->
   <xsd:element name="Road"
                type="abc:RoadType"
                substitutionGroup="gml:AbstractFeature"/>
   <xsd:complexType name="RoadType">
      <xsd:complexContent>
         <xsd:extension base="gml:AbstractFeatureType">
            <xsd:sequence>
               <xsd:element name="numLanes" type="xsd:nonNegativeInteger"/>
               <xsd:element name="centerline" type="gml:CurvePropertyType"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
