52n-ogc-schema/src/main/resources/META-INF/xml/gml/3.1.1/profiles/geoshape/0.1.0/measures.xsd

<?xml version="1.0"?>
<!--

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml"
    targetNamespace="http://www.opengis.net/gml"
    version="3.1.1" elementFormDefault="qualified">
    
    <annotation>
        <documentation>
            Copyright (c) 2007,2009 Open Geospatial Consortium.
            To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
        </documentation>
    </annotation>
    
    <include schemaLocation="gmlBase.xsd"/>
    
    <element name="measure" type="gml:MeasureType"/>
    <complexType name="LengthType">
        <simpleContent>
            <restriction base="gml:MeasureType"/>
        </simpleContent>
    </complexType>
    
    <element name="angle" type="gml:MeasureType"/>
    <complexType name="AngleType">
        <simpleContent>
            <restriction base="gml:MeasureType"/>
        </simpleContent>
    </complexType>
    
</schema>
